/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*********************************************************************************************************/
/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
/* This CSS will print because %message-shared is extended. */
/* ==========================================================================
	Global Admin CSS
   ========================================================================== */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.inside .tinyfield-settings-container {
  margin: 0 -14px;
  margin-top: -15px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.top-gap {
  display: none;
}

.wrap.tiny-option {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  padding: 0 10px;
}
.wrap.tiny-option > h1 {
  margin-bottom: 10px;
}
.wrap.tiny-option .tinyfield-metabox-container {
  margin: 0;
}

[hidden] {
  display: none !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.two-col {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-start {
  justify-content: flex-start;
}

.tinyfield-metabox-container {
  margin: -7px -15px 10px;
  min-height: 400px;
}

.wrapper-settings {
  min-height: 300px;
  border: 1px solid #ccc;
  flex: 1;
  margin-top: -1px;
  border-left: 0;
  border-right: 0;
}

.wrap .tiny-button-wrapper {
  position: fixed;
  bottom: 0;
  left: auto;
  background: #1d2327;
  margin: auto;
  top: auto;
  right: 0;
  padding: 15px;
  z-index: 99;
  border-radius: 3px;
}
.wrap .tiny-button-wrapper p {
  margin: 0;
  padding: 0;
}

.fields-wrapper, .two-col {
  display: flex;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
.fields-wrapper {
  padding: 30px 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
}
.fields-wrapper label {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.fields-wrapper .col {
  flex: 0 0 100%;
  max-width: 70%;
}
.fields-wrapper .col.label {
  max-width: 30%;
}
.fields-wrapper .field-wrapper .field {
  width: 100%;
  height: 35px;
  padding: 0 8px;
}
.fields-wrapper .field-wrapper .textarea-field {
  width: 100%;
  padding: 6px 8px;
}
.fields-wrapper .checkbox-wraper {
  width: 100%;
  line-height: 1.6;
}
.fields-wrapper .metabox-description {
  flex: 0 0 100%;
}
.fields-wrapper p {
  margin-top: 10px;
}
.fields-wrapper p:last-child {
  margin-bottom: 0;
}

.color-picker-wrapper span.wp-color-result-text {
  visibility: hidden;
}

.selectbox-wraper {
  width: 100%;
}

.switchbtn-wraper {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 2px;
  min-width: 100px;
  text-align: center;
  /* Create a custom radio button */
}
.switchbtn-wraper input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  cursor: pointer;
}
.switchbtn-wraper input ~ .checkmark {
  background-color: #f1f1f1;
}
.switchbtn-wraper input:checked ~ .checkmark {
  border-color: #007cba;
}
.switchbtn-wraper .checkmark {
  border-radius: 0;
  font-size: 15px;
  padding: 7px 10px;
  border: 3px solid #f1f1f1;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.switchbtn-wraper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.switchbtn-wraper .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.range-slider {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.range-slider input::-webkit-inner-spin-button {
  display: none;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #007cba;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #007cba;
}
.range-slider__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #007cba;
}
.range-slider__range:active::-moz-range-thumb {
  background: #007cba;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #007cba;
}

.range-slider__value {
  color: #fff;
  background: #2c3e50;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 5px 11px;
  margin-left: 8px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7dcdf;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #007cba;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #007cba;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch .slider:after {
  content: var(--false);
  display: block;
  position: absolute;
  left: auto;
  right: 18px;
  font-size: 14px;
  line-height: 1;
  z-index: 9;
}

.switch input:checked + .slider:after {
  color: white;
  content: var(--true);
  right: auto;
  left: 18px;
}

/*--------- END --------*/
.selectbox-wraper .select2-container {
  width: 100% !important;
}
.selectbox-wraper .select2-container--default .select2-selection--multiple {
  padding-bottom: 0;
}
.selectbox-wraper span {
  line-height: 31px !important;
}
.selectbox-wraper .select2-container--default .select2-search--inline .select2-search__field {
  margin-top: 0;
}
.selectbox-wraper .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}
.selectbox-wraper .select2-selection__arrow,
.selectbox-wraper .select2-selection {
  min-height: 35px !important;
}

.fields-wrapper.radio-image {
  flex-wrap: wrap;
}
.fields-wrapper.radio-image .field-wrapper {
  box-sizing: border-box;
  margin-left: -4px;
  margin-right: -4px;
  width: 100%;
}
.fields-wrapper.radio-image .label {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
.fields-wrapper.radio-image .switchbtn-wraper {
  min-width: initial;
  flex-grow: 1;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  margin: 0;
  box-sizing: border-box;
}
.fields-wrapper.radio-image .switchbtn-wraper .checkmark {
  padding: 5px;
}
.fields-wrapper.radio-image img {
  max-width: 100%;
  width: 100%;
}

.upload-button-wrapper {
  margin-bottom: 10px;
}

.image-upload .preview-wrap {
  position: relative;
}
.image-upload .preview-wrap a.metabox-image-edit,
.image-upload .preview-wrap button {
  position: absolute;
  padding: 0;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
}
.image-upload .preview-wrap.button-hide .metabox-image-remove,
.image-upload .preview-wrap.button-hide .metabox-image-edit {
  visibility: hidden;
  opacity: 0;
}
.image-upload .preview-wrap a.metabox-image-edit {
  background: #f1f1f1;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-upload .preview-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-upload .metabox-image-remove {
  top: -3px;
  margin: auto;
  right: -3px;
  width: 20px;
  height: 20px;
  background: #eee;
}
.image-upload .metabox-image-remove:hover {
  background: #710d0d;
  color: #fff;
}
.image-upload a.metabox-image-edit {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: auto;
}
.image-upload a.metabox-image-edit .dashicons.dashicons-edit-large {
  font-size: 18px;
}
.image-upload a.metabox-image-edit:hover {
  background: #007cba;
  color: #fff;
}

.image-gallery .upload-button-wrapper {
  margin-bottom: 10px;
}
.image-gallery .preview-wrap {
  position: relative;
  max-width: 25%;
  box-sizing: border-box;
  width: 100%;
}
.image-gallery .preview-wrap a.metabox-image-edit,
.image-gallery .preview-wrap button {
  position: absolute;
  padding: 0;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
}
.image-gallery .preview-wrap.button-hide .metabox-image-remove,
.image-gallery .preview-wrap.button-hide .metabox-image-edit {
  visibility: hidden;
  opacity: 0;
}
.image-gallery .preview-wrap a.metabox-image-edit {
  background: #f1f1f1;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery .preview-wrap .preview-image {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-gallery .metabox-image-remove {
  top: -3px;
  margin: auto;
  right: -3px;
  width: 20px;
  height: 20px;
  background: #eee;
}
.image-gallery .metabox-image-remove:hover {
  background: #710d0d;
  color: #fff;
}
.image-gallery a.metabox-image-edit {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: auto;
}
.image-gallery a.metabox-image-edit .dashicons.dashicons-edit-large {
  font-size: 18px;
}
.image-gallery a.metabox-image-edit:hover {
  background: #007cba;
  color: #fff;
}
.image-gallery ul.preview-list {
  width: 100%;
  margin: 0 -5px;
}
.image-gallery ul.preview-list li.preview-wrap {
  cursor: all-scroll;
  padding-left: 5px;
  padding-right: 5px;
}

.vertical-tab {
  display: flex;
}
.vertical-tab .top-gap {
  display: flex;
  min-height: 50px;
  background-color: #1d2327;
  color: #fff;
  padding: 16px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 700;
  font-size: 17px;
  border-bottom: 1px solid #838383;
}
.vertical-tab .tinytab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 230px;
  border-right: 0;
  background-color: #1d2327;
}
.vertical-tab .tinytab button {
  text-align: left;
  padding: 14px 16px;
  border-bottom: 1px solid #838383;
  border-right: 0;
  position: relative;
  color: #fff;
}
.vertical-tab .fields-wrapper {
  border-left: 0;
  margin-top: 0;
  margin-bottom: -1px;
}
.vertical-tab .wrapper-settings {
  min-height: 100VH;
  margin-top: 0;
}

.tinytab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* Style the buttons inside the tab */
}
.tinytab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 30px;
  transition: 0.3s;
  font-size: 14px;
  border-right: 1px solid #ccc;
  font-weight: 600;
  text-transform: uppercase;
}
.tinytab button:hover, .tinytab button.active {
  background-color: #fff;
  color: #333;
}

.color-picker-wrapper .wp-picker-container {
  position: relative;
  display: inline-block;
}
.color-picker-wrapper .wp-picker-container .wp-picker-holder {
  position: absolute;
  z-index: 99;
  top: 35px;
}

/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to a reusable layout.
*/
