.fields-wrapper {
	@extend %d-flex;
	padding: 30px 20px;
    border: 1px solid #ccc;
    margin-top: -1px;
	label {
		cursor: pointer;
		font-weight: 700;
		font-size: 16px;
	}
	.col{
		flex: 0 0 100%;
		max-width: 70%;
		&.label {
			max-width: 30%;
		}
	}
	.field-wrapper {
		.field{
			width: 100%;
			height: $field-height;
			padding: 0 8px;
		}
		.textarea-field{
			width: 100%;
			padding: 6px 8px;
		}
	}
	.checkbox-wraper {
		width: 100%;
		line-height: 1.6;
	}
	.metabox-description {
		flex: 0 0 100%;
	}
	p{
		margin-top: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.color-picker-wrapper span.wp-color-result-text {
    visibility: hidden;
}
.selectbox-wraper{
	width: 100%;

}