.fields-wrapper {
	&.radio-image {
		flex-wrap: wrap;
		.field-wrapper{
			box-sizing: border-box;
			margin-left: -4px;
			margin-right: -4px;
			width: 100%;
		}
		.label {
			font-size: 20px;
			margin-bottom: 20px;
			display: block;
			width: 100%;
		}
		.switchbtn-wraper {
			min-width: initial;
			flex-grow: 1;
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 8px;
			margin: 0;
			box-sizing: border-box;
			.checkmark{
				padding: 5px;
			}
		}

		img{
			max-width: 100%;
			width: 100%;
		}
	}
}