
.range-slider {
    width: 100%;
    position: relative;
    display: flex;
	align-items: center;
	input::-webkit-inner-spin-button {
		display: none;
	}
}

.range-slider__range {
	-webkit-appearance: none;
	width: 100%;
	height: $range-track-height;
	border-radius: 5px;
	background: $range-track-color;
	outline: none;
	padding: 0;
	margin: 0;

	// Range Handle
	&::-webkit-slider-thumb {
		appearance: none;
		width: $range-handle-size;
		height: $range-handle-size;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: background .15s ease-in-out;
		&:hover {
			background: $range-handle-color-hover;
		}
	}

	&:active::-webkit-slider-thumb {
		background: $range-handle-color-hover;
	}

	&::-moz-range-thumb {
		width: $range-handle-size;
		height: $range-handle-size;
		border: 0;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: background .15s ease-in-out;

		&:hover {
			background: $range-handle-color-hover;
		}
	}
	&:active::-moz-range-thumb {
		background: $range-handle-color-hover;
	}
  // Focus state
	&:focus {
		&::-webkit-slider-thumb {
			box-shadow: 0 0 0 3px $shade-0,
						0 0 0 6px $teal;
		}
	}
}

// Range Label
.range-slider__value {
	color: $shade-0;
	background: $range-label-color;
    display: inline-block;
    position: relative;
    text-align: center;
	padding: 5px 11px;
	margin-left: 8px;
}

// Firefox Overrides
::-moz-range-track {
	background: $range-track-color;
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}