.repeater-wrapper {
	.repeater-inner{
		max-width: 100%;
		background: linear-gradient( 180deg , #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient( 180deg , #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
		-webkit-box-shadow: 4px 4px 30px rgb(0 84 146 / 10%);
		box-shadow: 4px 4px 30px rgb(0 84 146 / 10%);
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 20px;
		position: relative;
		padding-top: 40px;
		.col.label{
			max-width: 20%;
		}
		.field-wrapper{
			max-width: 80%;
		}
		.move-steps {
			max-width: 80px;
			padding: 3px 12px;
			height: 34px;
		}
		.repater-header {
			position: absolute;
			align-items: center;
			padding-right: 50px;
			min-height: 40px;
			left: 0;
			right: 0;
			top: 0;
		}
		.field-inner {
			transition: 0.3s all;
		}
		.dashicons {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 38px;
			height: 38px;
			align-items: center;
			justify-content: center;
			display: inline-flex;
			border: 1px solid #dcdcde;
			cursor: pointer;
			transition: 0.3s all;
		}
		&.collapse-out {
			padding-bottom: 0;
			.field-inner {
				overflow: hidden;
				height: 0;
				visibility: hidden;
				opacity: 0;
			}
			.field-control{
				opacity: 0;
				visibility: hidden;
				height: 0;
			}
		}
		&.collapse-in {
			.dashicons:before {
				transform: rotate(180deg);
			}
		}
	}
	.repeater {
		width: 100%;
		max-width: 100%;
		.tiny-button {
			background: #007cba;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			 &.remove{
				background-color: #ac2925;
				border-color: #761c19;
			}
		}
	}
	.fields-wrapper{
		padding: 10px 0;
		border: 0;
		// &:not(.type-checkbox),
		&.type-image,
		&.type-editor {
			flex-wrap: wrap;
		}
	}
	.row{
		&:last-child{
			margin-bottom: 15px;
		}
	}
}

