.selectbox-wraper{
	.select2-container{
		width: 100% !important;
	}
	.select2-container--default .select2-selection--multiple{
		padding-bottom: 0;
	}

	span {
		line-height: 31px !important;
	}
	.select2-container--default .select2-search--inline .select2-search__field {
		margin-top: 0;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #f1f1f1;
		border: 1px solid #ddd;
	}
	.select2-selection__arrow,
	.select2-selection{
		min-height: $field-height !important;
	}

}
