.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;
}
.switch input {
	visibility: hidden;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgb(215, 220, 223);
	transition: .4s;
	border-radius: 34px;
	display: flex;
    align-items: center;
}

.switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
.switch input:checked + .slider {
	background-color: $field_select_color ;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px $field_select_color ;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch .slider:after{
	// content: 'OFF';
	content: var(--false);
    display: block;
    position: absolute;
    left: auto;
    right: 18px;
    font-size: 14px;
	line-height: 1;
	z-index: 9;
}

.switch input:checked + .slider:after{
	color: white;
    // content: 'ON';
    content: var(--true);
    right: auto;
    left: 18px;
}

/*--------- END --------*/
