/* ==========================================================================
	Global Admin CSS
   ========================================================================== */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

.inside .tinyfield-settings-container {
    margin: 0 -14px;
	margin-top: -15px;
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
}
.top-gap {
	display: none;
}
.wrap{
	&.tiny-option{
		animation: fadeIn 1s;
		-webkit-animation: fadeIn 1s;
		-moz-animation: fadeIn 1s;
		-o-animation: fadeIn 1s;
		-ms-animation: fadeIn 1s;
		> h1{
			margin-bottom: 10px;
		}
		.tinyfield-metabox-container{
			margin: 0;
		}
		padding: 0 10px;
	}
}
.field-box-shadow {
	// @extend %field-box-shadow;
}

.field-border {
	// @extend %field-border;
}

[hidden] {
	display: none !important;
}

.d-flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.two-col {
	@extend %d-flex;
	align-items: center;
}

.justify-content-end{
	justify-content: flex-end;
}

.align-items-start{
	align-items:flex-start;
}

.justify-content-start{
	justify-content: flex-start;
}

.tinyfield-metabox-container {
    margin: -7px -15px 10px;
	min-height: 400px;
}

.wrapper-settings {
	min-height: 300px;
	border: 1px solid #ccc;
	flex: 1;
	margin-top: -1px;
	border-left: 0;
    border-right: 0;
}

.wrap {
	.tiny-button-wrapper {
		position: fixed;
		bottom: 0;
		left: auto;
		background: #1d2327;
		margin: auto;
		top: auto;
		right: 0;
		padding: 15px;
		z-index: 99;
		border-radius: 3px;
		p{
			margin: 0;
			padding: 0;
		}
	}
}

