/* ==========================================================================
	Global Admin CSS
   ========================================================================== */
.inside .tinyfield-settings-container {
    margin: 0 -14px;
	margin-top: -15px;
}
.top-gap {
	display: none;
}
.wrap{
	&.ps-option{
		> h1{
			margin-bottom: 10px;
		}
		.tinyfield-metabox-container{
			margin: 0;
		}
		padding: 0 10px;
	}
}
.field-box-shadow {
	// @extend %field-box-shadow;
}

.field-border {
	// @extend %field-border;
}

[hidden] {
	display: none !important;
}

.d-flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.two-col {
	@extend %d-flex;
	align-items: center;
}

.justify-content-end{
	justify-content: flex-end;
}

.align-items-start{
	align-items:flex-start;
}

.justify-content-start{
	justify-content: flex-start;
}

.tinyfield-metabox-container {
    margin: -7px -15px 10px;
	min-height: 400px;
}

.wrapper-settings {
	min-height: 300px;
	border: 1px solid #ccc;
	flex: 1;
	margin-top: -1px;
	border-left: 0;
    border-right: 0;
}

.wrap {
	.tiny-button-wrapper {
		position: fixed;
		bottom: 0;
		left: auto;
		background: #1d2327;
		margin: auto;
		top: auto;
		right: 0;
		padding: 15px;
		z-index: 99;
		p{
			margin: 0;
			padding: 0;
		}
	}
}

