/* ==========================================================================
	Global Frontend CSS
   ========================================================================== */

// .display-none.on{
//     display: block;
//     -webkit-animation: fadeOut 1s;
//     animation: fadeOut 1s;
//     animation-fill-mode: forwards;
// }



.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-left {
	justify-content: start;
}
.justify-content-end {
	justify-content: flex-end;
}
.no-lightbox {
	cursor: default;
	pointer-events: none;
}
.pssig-lightbox {
	cursor: pointer;
}
